body {
    margin: 0;
    font-family: Arial;
    background-color: #10131a;
    color: white;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

.menu {
    display: flex;
    gap: 25px;
    list-style: none;
}

.menu li {
    cursor: pointer;
}

.menu .btn {
    background: #4CAF50;
    padding: 8px 15px;
    border-radius: 5px;
}

/* HERO SECTION */
.hero {
    text-align: center;
    margin-top: 120px;
}

.hero h1 {
    font-size: 50px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 30px;
    opacity: 0.8;
}

/* SEARCH BAR */
.search-box {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-box input {
    width: 450px;
    padding: 12px;
    border: none;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
}

.search-box button {
    padding: 12px 20px;
    border: none;
    background: #0d6efd;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

/* TAG BUTTONS */
.tags {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 15px;
}

.tags button {
    background: #1f2a44;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}
/* FOOTER */
.footer {
    background: #ffffff;
    color: #333;
    padding: 50px 80px;
}

.footer-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

.footer .col {
    width: 15%;
}

.footer h3 {
    font-size: 14px;
    margin-bottom: 10px;
    color: #000;
    font-weight: bold;
}

.footer p {
    font-size: 13px;
    margin: 6px 0;
    cursor: pointer;
}

.footer p:hover {
    text-decoration: underline;
}

/* SOCIAL ICONS */
.social {
    display: flex;
    gap: 20px;
    font-size: 20px;
    padding-top: 10px;
}

.social span {
    cursor: pointer;
}